<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LatestVersion</key>
	<string>1.9.0</string>
	<key>PageURL</key>
	<string>http://code.google.com/p/swisssms/</string>
	<key>DownloadURL</key>
	<string>http://swisssms.googlecode.com/files/SwissSMS_1_9_0.app.zip</string>
</dict>
</plist>
