<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>ch.seriot.SwissSMS.CitycableCH</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>SSPl</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>CitycableCH</string>
	<key>SSPAPIVersion</key>
	<string>0.1</string>
	<key>SSPAuthor</key>
	<string>Nicolas Seriot</string>
	<key>SSPCountryCode</key>
	<string>CH</string>
	<key>SSPKProtocol</key>
	<string>https</string>
	<key>SSPKServer</key>
	<string>www.citycable.ch</string>
	<key>SSPMaxChars</key>
	<integer>160</integer>
	<key>SSPName</key>
	<string>Citycable</string>
	<key>SSPNeedsAuthentication</key>
	<true/>
	<key>SSPSignupPage</key>
	<string>http://www.citycable.ch</string>
	<key>SSPVersion</key>
	<string>0.1</string>
	<key>SSPWebSite</key>
	<string>http://www.seriot.ch</string>
</dict>
</plist>
